[submodule "Externals/Vender/D3D12MemoryAllocator"]
	path = Externals/Vender/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Externals/Vender/DirectXMesh"]
	path = Externals/Vender/DirectXMesh
	url = https://github.com/microsoft/DirectXMesh.git
[submodule "Externals/Vender/DirectXTex"]
	path = Externals/Vender/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Externals/Vender/assimp"]
	path = Externals/Vender/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Externals/Vender/entt"]
	path = Externals/Vender/entt
	url = https://github.com/skypjack/entt.git
[submodule "Externals/Vender/spdlog"]
	path = Externals/Vender/spdlog
	url = https://github.com/gabime/spdlog.git
